NEST_PORT=3000
DIRECTUS_PORT=8055

DIRECTUS_ADMIN_EMAIL=admin@directus.com
DIRECTUS_ADMIN_PASSWORD=admin-password

DIRECTUS_KEY=255d261b-5ea1-5996-9aa3-9225c1c43c2
DIRECTUS_SECRET=6186487b-cda1-72c2-b015-c9022c45e888

DOCKER_DNA_IPV4_DIRECTUS=172.16.237.1
DOCKER_DNA_IPV4_RANGE=172.16.237.0/16

DIRECTUS_IP=http://172.16.237.1:8055

STORAGE_S3_KEY=S3-KEY
STORAGE_S3_SECRET=S3-SECRET
STORAGE_S3_BUCKET=S3-BUCKET
STORAGE_S3_REGION=S3-REGION

REDIS=redis://cache:6379